.form {
    margin-left: 275px;
}

.main h3, h4 {
    margin-left: 275px;
    font-family: 'Karla', sans-serif;
    color: black;
}

.main form {
    margin-left: 275px;
}

.main ul {
    margin-left: 300px;
    margin-top: 20px;
    color: black;

}



