main {
    position: absolute;
    top:60px;
    left: 250px;
    right: 0px;
    bottom: 0px;
}
.container {
    margin: 25px 10px 10px 25px;
}

.main h3, h4 {
    
    font-family: 'Karla', sans-serif;
    color: black;
}

.main ul {
    margin-top: 20px;
    color: black;

}

table {
    position: relative;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
 
}

tr:last-child {
    border-bottom: none;
}

th, td {
    border: none;
    padding: 18px;
    text-align: left;
}



.button {
    font-family: 'Karla', sans-serif;
    background-color:  #29333F; 
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px
}

