body {
    color: black;
}

.side h2 {
    color: white !important;
    margin-left: 10px;
    margin-right: 10px;

}

.side-ul ul {
    padding-left: 0%;
    font-size: 15px;
    color: #CCD5E1;
}


.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #29333F;
    padding-top: 10px;
}


.course-selection {
    color: white !important;
    padding: 10px;
    text-align: center;
}

.sidebar select {
    width: 150px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #93A4B9;
    border-radius: 5px
}

.sidebar li {
    list-style-type: none;
}

.sidebar a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #0A0D0F;
    border-radius: 10px;
}

.content {
    margin-left: 250px; /* Adjust this value to match sidebar width */
    padding: 20px;
}

.bottom {
    width: 250px;
    position: absolute;
    bottom: 0;
}

.sidebar hr {
    color: white;
}