@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    background-color: #eff4ff;
    position: absolute;
    top: 60px;
    left: 250px;
    right: 0px;
    bottom: 0px;
}
.container {
    margin: 25px 25px 25px 25px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color:  #29333F;
    text-align: center;
}

h2 {
    
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

/* ASSIGNMENT CSS - COURSE MATERIAL */


.main h3, h4 {
    
    font-family: 'Karla', sans-serif;
    color: black;
}

.main ul {
    margin-top: 20px;
    color: black;

}

table {
    width: 100%;
    position: relative;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
}

tr {
    border-bottom: 1px solid black;

}

tr:last-child {
    border-bottom: none;
}

th {
    background-color: #c9d7f2;
}

th, td {
    padding: 18px;
    text-align: left;
}


button {
    font-family: 'Karla', sans-serif;
    background-color:  #29333F; 
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px
}

#uploadModal input.modal-button {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    color: #29333F;
}


.new_assign {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

input[type=submit] {
    font-family: 'Karla', sans-serif;
    background-color:  #29333F; 
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px
}

input[type=submit].button-white {
    font-family: 'Karla', sans-serif;
    background-color:  white;
    border: none;
    color: #29333F;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
   
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.form-label {
    display: inline-block;
    width: 100px; 
}

input[type="text"],
input[type="date"],
input[type="number"],
select,
input[type="file"] {
    width: calc(100% - 120px); /* Adjust as needed */
}

*, *::after, *::before {
    box-sizing: border-box;
}

.editModal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #29333F;
    color: white;
    border: 1px solid rgb(168, 168, 168);;
}
.editModalContent {
    background-color: #29333F;
    padding: 20px;
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 30px;
}

.message {
    position:fixed;
    bottom: 10px;
    right: 0px;
    left: 300px;
}

/*  HEADER */


header.header {
    position: absolute;
    top:0;
    left: 250px;
    right: 0px;
    background-color: #eff4ff;;
    background: #FFFFFF;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.65);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    color: #29333F;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    font-weight: 800;
}


.user {
    position: relative;
    cursor: pointer;
}

.initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #296CF1;
    background-color: #C9D7F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    z-index: 3;
    display: block;
}

/*  SIDEBAR  */

body {
    color: black;
    font-family: 'Karla', sans serif;
}

hr {
    height: 0.25px;
    background-color: white;
}

.label {
    margin-bottom: 10px;
}

select {
    margin-top: 10px;
}

h2.side {
    font-size: 30px;
    font-weight: 500;
}

.side h2 {
    color: white;
 
    margin-left: 10px;
    margin-right: 10px;
}


.side-ul ul {
    padding-left: 0%;
    font-size: 15px;
    color: #CCD5E1;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #29333F;
    padding-top: 10px;
}

.select-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.course-selection {
    padding: 0px 10px 0px 10px;
    color: white !important;
    text-align: center;
}

.sidebar select {
    width: 150px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #93A4B9;
    border-radius: 5px
}

.sidebar li {
    list-style-type: none;
    font-size: 20px;
}

.material-icons {
    padding-right: 16px;
}

.sidebar a {
    padding: 10px;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;

}

.sidebar a:hover {
    background-color: #0A0D0F;
    border-radius: 10px;
}

.bottom {
    width: 250px;
    position: absolute;
    bottom: 0;
}


/*  HOMEPAGE */

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    
}   


.tiles li {
    flex: 0 0 20%; /* Each tile occupies 20% of the container width */
    background-color: white;
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    justify-content: center;
    margin: 0px 5px 20px 5px; /* Add some space between tiles */
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.tiles a {
    text-decoration: none;
    color: #333;
}

.general-tile {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}

.mid-tile {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.mid-content {
    margin-top: 0;
    text-align: left;
}

.block {
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.form-body {
    display: flex;
    flex-direction: column;
    padding: 0px 25px 10px 25px;
}

.form-body h1 {
    text-align: left;
}

.form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.form-input label {
    margin-right: 10px; /* Adjust the spacing between label and input */
}

.form-input span {
    display: inline-block;
}

.form-body input[type="text"],
.form-body input[type="email"],
.form-body input[type="password"],
.form-body input[type="number"],
.form-body input[type="date"],
.form-body input[type="file"] {
    display: flex;
    flex-direction: row;
    width: 200px;
}
